section {
  font-family: "Segoe UI", sans-serif;
}

h1,
h2,
h3 {
  color: green;
}

section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 992px) {
  section {
    max-width: 50%;
    margin: 0 auto;
  }

  .vs-table {
    max-width: 75%;
    margin: 0 auto;
  }
}