:host {
  display: block;
}

:host h1,
:host h2,
:host h3 {
  color: green;
}

:host section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 992px) {
  :host section {
    max-width: 50%;
    margin: 0 auto;
  }
}

